[2022-06-03 08:18] drwetter commented on #606
... if the warning from testssl.sh bothers you **and** if otherwise the ciphers you're offering aren't weak: yes.

[2022-06-03 13:07] misilot commented on #606
It was more when using it with https://github.com/dnmvisser/nagios-testssl, but I had missed the `--ignore-ids` option that was in there. So all is good. Thanks!

[2022-06-03 20:03] KOLANICH commented on #2172
I don't have to, there are tools already using python.

[2022-06-07 13:37] dcooper16 commented on #1311
I just submitted PR #2194 to help address this issue. Now, with #2129 and #2194, no information about cipher order is printed or sent to `fileout()` until the complete list of supported ciphers is known.

My suggestion for the rating for each protocol when a server cipher order is not enforced would be as follows. Use `get_cipher_quality()` to get the rating for each supported cipher and then dete

[2022-06-13 08:24] digininja opened #2195 "broken link on website"
This link on the website homepage goes to a 404 in GitHub:

I doubt anyone will be clicking on it, I just clicked it as it was the first link out to GitHub that I saw when I was looking for one.

[2022-06-13 09:20] drwetter commented on #2195
Thanks! I tried to fix that.

The web site should be better maintained here with some modern ingredients like hugo, so that other would be able to contribute.  But I have no clue how to get this done. (anybody listening? ;-) )

[2022-06-13 09:20] #2195 closed, assigned to nobody

[2022-06-16 05:27] Devender210590 commented on #1083
Below command will help you to solve problem.

`yum install bind-utils -y`

[2022-06-16 10:07] sonawanesarvesh opened #2196 "Get SAN url list"
**Which version are you referring to**
3.0.x

Can we have one parameter which will give us list of SAN Url?

[2022-06-16 11:06] drwetter commented on #2196
SAN url?

-v please. Meanwhile closing this.

[2022-06-16 11:06] #2196 closed, assigned to nobody

[2022-06-16 19:28] sonawanesarvesh commented on #2196
Hello,

I mean to say - SAN or subject alternative names
Can we export a list of all Subject Alternative Names used for that certificate using any parameters - for some purpose I want this information (i have a few SSL certificates which are showing 60+ SAN URLs while testssl scanning - so if I can get a list of all of such domain it will be good option to protect those applications as well if any

[2022-06-17 07:10] drwetter commented on #2196
Hello, did you try the CSV or one of the JSON-Formats? (cert_subjectAltName)

[2022-06-17 08:15] sonawanesarvesh commented on #2196
Hello,

Thank you for quick help, its there in json but I missed it

Thank you once again

[2022-06-23 12:45] RobinvandenHurk opened #2197 "[BUG] Missing comma in scanresult using --jsonfile-pretty"
**Command line / docker command to reproduce**
testssl.sh --wide --warnings off --ssl-native --jsonfile-pretty /tmp/.testssl_1655985934984.json omitted.com

**Expected behavior**
A valid JSON result in the specified file

**Your system (please complete the following information):**
 - OS: Kali GNU/Linux Rolling
 - Platform: Linux 5.10.102.1-microsoft-standard-WSL2 x86_64
 - Version: 3.1dev b44c2ca

[2022-06-23 12:47] #2197 closed, assigned to nobody

[2022-06-23 12:47] RobinvandenHurk opened #2198 "[BUG] Missing comma in pretty json output"
**Command line / docker command to reproduce**
testssl.sh --wide --warnings off --ssl-native --jsonfile-pretty /tmp/.testssl_1655985934984.json omitted.com

**Expected behavior**
A valid JSON result in the specified file

**Your system (please complete the following information):**
 - OS: Kali GNU/Linux Rolling
 - Platform: Linux 5.10.102.1-microsoft-standard-WSL2 x86_64
 - Version: 3.1dev b44c2ca

[2022-06-23 17:37] dcooper16 commented on #2198
Hi @RobinvandenHurk,

Thanks for reporting. It seems that this problem generally happens if `determine_optimal_proto()` writes to a pretty-printed JSON file to indicate a problem with testing, and testing continues instead of being stopped.

I'm working on a fix, but want to test it very thoroughly before submitting it.

[2022-06-29 15:17] sonawanesarvesh opened #2199 "Chain of trust - NOT ok (expired)"
**Which version are you referring to**
3.0.x

Hello,
I am seeing this error Chain of trust - NOT ok (expired)
Is there anyway to know exactly which certificate is expired?

because i have imported few CA certificates so now sure exactly which certificate is expired.

The real problem is when i use the URL directly on [SSLlabs.com ](https://www.ssllabs.com/) i see A+ grade quickly

But internally t

[2022-06-30 06:44] drwetter commented on #2199
Try using 3.1dev.

[2022-07-04 12:09] sonawanesarvesh commented on #2199
Hello

Thanks, it resolved the issue :)

[2022-07-04 14:44] #2199 closed, assigned to nobody

[2022-07-17 09:34] bjorn-wiberg opened #2203 "[BUG / possible BUG] --show-each with -E causes Overall Grade F due to weak cipher suites, despite those cipher suites not being available remotely"
It appears that adding --show-each to -E causes the Overall Grade to be capped to F, despite those weak cipher suites not being available remotely (`not a/v`).

The rating says:

[code]

It is as if the mere displaying of the weak cipher suites being tested causes the grade to be capped to F.

**Command line / docker command to reproduce**

[code]

**Expected behavior**
The grade should not be cap

[2022-07-18 11:50] dcooper16 commented on #2203
Hi @bjorn-wiberg,

Thanks for reporting. I am not very familiar with the code for creating ratings, but it seems that the rating is based on the cipher suites that are displayed, whether they are supported or not.

In particular, the function `neat_list()` is used to display ciphers in individual rows. It seems that `neat_list()` calls `set_ciph_str_score()` for every cipher, whether it is support

[2022-07-18 17:18] bjorn-wiberg commented on #2203
Thank you, @dcooper16! It is much appreciated!

[2022-07-19 06:33] matteocorti opened #2204 "./testssl.sh: line 1152: 16#: invalid integer constant (error token is "16#")"
I get the following error in the FREAK test (testing ```ethz.ch```):

[code]

with ```-debug 6```

[code]

Log files: [testssl.PYoV2i.tar.gz](https://github.com/drwetter/testssl.sh/files/9138143/testssl.PYoV2i.tar.gz)

[2022-07-19 06:34] matteocorti commented on #2204
[testssl.PYoV2i.tar.gz](https://github.com/drwetter/testssl.sh/files/9138140/testssl.PYoV2i.tar.gz)

[2022-07-27 08:48] willardthor commented on #2204
I am getting a similar error, but in a different location.

[code]
I can open a separate issue if if my issue is unrelated. Generated log files from `--debug 6` are [here](https://www.willardthor.com/testssl.2XGGJy.tgz).

[2022-07-27 16:18] drwetter commented on #2204
I'll look into it next week.

[2022-07-27 16:51] dcooper16 commented on #2204
This seems very similar to previously reported issues: #1754, #1783, #1808, #1820, #1823, and maybe others.

@matteocorti: The version of testssl.sh you are using seems to be from "2019-07-20 10:07:10," which is from before the problem was fixed.

@willardthor: I cannot determine what version you are using or how old it is, but perhaps it is also from before this issue was fixed.

It may be that s

[2022-07-27 16:58] matteocorti commented on #2204
I am using the latest commit of the main branch. 3.0rc4

[2022-07-27 17:37] dcooper16 commented on #2204
Hello @matteocorti,

I do not know from where you are getting testssl.sh, but 3.0rc4 is not the latest commit of the main branch. The main branch is 3.1dev. There is also a stable version, which is at version 3.0.7, which was released in February 2022.

The following line appears in environment.txt in the log that you sent: "GIT_REL: 9eec4db 2019-07-20 10:07:10", which has a version of 3.0rc4. So,

[2022-07-27 18:00] matteocorti commented on #2204
Mmm. Pulling again didn't bring anything. I cloned the repo and now I get 3.1 dev. And if course no error. Thanks!

[2022-07-27 18:00] #2204 closed, assigned to nobody

[2022-08-01 12:03] drwetter commented on #2204
Guys, it would help to minimize work on our other side if you stick to the issue templates and mention at least the version.

[2022-08-01 12:32] drwetter commented on #2203
Thanks for the bug report. Can reproduce it.

Give me a bit to look into it, just returned from vacation.

[2022-08-02 08:56] drwetter commented on #2203
PR pending.

Thanks for the hint, @dcooper16 . I had first a bit of a problem understanding the variable you mentioned as the inline documentation indicated a boolean.

[2022-08-02 11:02] huornlmj opened #2208 "[Feature request] Make it clearer where the actual supported ciphers are in the report"
The current report layout makes it difficult to see which ciphers are actually supported by a server and which are not.  For example, the first section that your eyes are drawn to is the "Testing robust (perfect) forward secrecy" section.  People might conclude that this is the full list of supported ciphers  when in fact it's not.

If they are not drawn to this point they may conclude that the "N

[2022-08-02 11:08] #2203 closed, assigned to nobody

[2022-08-02 11:25] drwetter commented on #2208
First of all: please fill out the template properly next time. I have to guess which version you are using and this is wasting time which I'd rather would like to spend on different things. 340 ciphers???

Then there's also the point "Describe the solution you'd like" you didn't answer.

Other than that: I don't know what's difficult to understand in "Testing robust (perfect) forward secrecy" ? IH

[2022-08-02 11:25] #2208 closed, assigned to nobody

[2022-08-02 11:26] drwetter commented on #2171
done

[2022-08-02 11:26] #2171 closed, assigned to nobody

[2022-08-02 11:40] huornlmj commented on #2208
The "Clear output: you can tell easily whether anything is good or bad" mentioned at https://testssl.sh isn't the case.  As a regular user I'm just providing my feedback on this point.  To summarize, it should be made clearer which ciphers are actually supported by the server.  I'm not saying it should be front and center.  It should just be somewhere in the report.  I'm guessing that the Testing

[2022-08-02 12:08] drwetter commented on #2208
@huornlmj : everything you see is what is only supported by the server.

[2022-08-03 10:05] huornlmj commented on #2208
I believe the "Testing robust forward secrecy (FS) -- omitting Null Authentication/Encryption, 3DES, RC4" section does not show all of the server supported ciphers, just the ones that provide PFS.

The section "Testing server's cipher preferences" shows ciphers but I think this only appears if the server controls the ordering.  If the client does then this section is not shown.

This then leaves t

[2022-08-03 11:49] drwetter commented on #2208
_Testing 370 ciphers via OpenSSL plus sockets against the server, ordered by encryption strength_ is what you want probably.

Yes (normally only 1 negotiated cipher per proto when no server preference. But all ciphers when this is the case). That has been changed in 3.1dev so that all ciphers in any case will be shown.

[2022-08-04 15:50] huornlmj commented on #2208
3.1dev provides the solution I was referring to.  That's great.  FYI: latest stable release 3.0.7's output when client determines the order:
[code]
3.1dev's output when client determines the order (which is much better and clearer):
[code]
@drwetter would you know when this will make it into a stable release?

[2022-08-04 16:03] drwetter commented on #2208
I am recommending to everybody incl. Linux distributors switching now. There will be one last 3.0.8 and that's it.

3.1dev will then become a release candidate.

[2022-08-04 16:11] huornlmj commented on #2208
Will the reporting feature be in 3.0.8 @drwetter ?

[2022-08-04 16:29] drwetter commented on #2208
Looking back that was a poor design decision, but I don't think so. No new features in old releases. Only bug fixes.

[2022-08-04 19:45] dcooper16 commented on #2203
Hi Dirk,

It seems that PR #2207 does not fix this bug. I tried it on testssl.sh and got different results depending on whether or not the `--show-each` flag was used.

I believe there was a misunderstanding of the code. The 6th argument to `neat_list()` is always true, false, or empty. The strings "available" or "not a/v" are provided to `fileout()` _after_ the output of `neat_list()`, but these

[2022-08-11 08:16] securityguy-creator commented on #1389
How to define client certificate in testssl.sh when server request a client certificate?

[2022-08-15 11:33] mythi commented on #2079
For what is worth, I'm observing strange delays in my testing too and this issue looks similar. My setup is

- `drwetter/testssl.sh:latest` container
- I have to use `--openssl=/usr/bin/openssl` and that makes the scanning time to jump up to 3 minutes
- without `--openssl` the scan finishes in < 10s (but I'm not able to use it due to `... appears to support TLS 1.3 ONLY. You better use --openssl=<

[2022-08-17 09:00] securityguy-creator opened #2213 "testssl can't support to define client certificates for secure_client_renego test"
Now I want to do the secure_client_renego test with testssl.sh tool, after my device as server send certificate request to testssl, testssl can't give back the client certificate to server, then handshake is broken, then testssl popup an error information that: client x509-based authentication prevents this from being tested.
  In testssl.sh website. it mentioned it should support "Initial client

[2022-08-22 09:55] #2198 closed, assigned to nobody

[2022-08-22 18:30] drwetter commented on #1589
This will be addressed / tried to address along with #2179

[2022-08-24 12:48] moehkass opened #2218 "Vulnerable but no DH EXPORT ciphers"
I ran the testssl.sh script on a server, and in the testing vulnerabilities section, I get this:

LOGJAM (CVE-2015-4000), experimental      VULNERABLE (NOT ok): common prime: RFC2409/Oakley Group 2 (1024 bits),
                                           but no DH EXPORT ciphers

what does this message mean "but no DH EXPORT ciphers" ? shouldn't this mean that the server is not vulnerable to logjam

[2022-08-24 18:02] dcooper16 commented on #2218
What does the testssl.sh documentation say?

[2022-08-25 07:29] moehkass commented on #2218
if you mean what is listed on the main page  as documentation: https://testssl.sh/ , then it doesn't mention the case I raised. @dcooper16

[2022-08-25 07:38] drwetter commented on #2218
the documentation is available in several formats in the doc directory on the web site and in the git repo.

[2022-08-25 07:38] #2218 closed, assigned to nobody

[2022-08-25 07:40] drwetter commented on #2218
And please read "the internet" like e.g. https://en.wikipedia.org/wiki/Logjam_(computer_security)

If you then feel something is not correctly phrased feel free to come back

[2022-08-25 08:10] moehkass commented on #2218
just to make my question clear, the output shows that the server is vulnerable to logjam , however at the same time there is no DH cipher exports, I read online about logjam, so to be exploitable the DH cipher exports must be enabled, which is not in my case so it shouldn't be vulnerable, unless I misunderstood something.

[2022-08-30 09:15] bmarwell opened #2221 "[Feature request] iiops support"
**Which version are you referring to**

Any

**Please check this repo whether this is a known feature request**

It is not

**Describe your feature request (if it's a technical feature)**

Java uses the iiop protocol which can be secured using TLS.
See here: https://docs.oracle.com/cd/A97335_02/apps.102/a83722/connsec6.htm

It would be nice to have this connection tested as well.

**If your featur

[2022-08-31 06:44] drwetter commented on #2221
Hi,

probably never head about this protocol. Counter question: have you just tried to connect to the remote service with testssl.sh or with ``openssl s_client -connect REMOTE:PORT`` ?

Thx, Dirk

[2022-09-02 13:36] bmarwell commented on #2221
No, will  try. But I  tried various  --starttls options, with no luck. Will get back to you soon.
It is very Java-specific. If it is easy to implement, I'd be happy to help. If not, we can drop that feature. I will check on twitter whether someone knows more about iiop + TLS.

[2022-09-02 14:10] drwetter commented on #2221
There was little information out there, but it looked to me proprietary.

There are four possibilities:
* just plain TLS. That can you check with ``openssl s_client -connect REMOTE:PORT``. It's agnostic to the protocol tunneled within the TLS connection.
* STARTTLS: That is not supported (in testssl.sh or) with the -starttls option from openssl (try: ``openssl s_client -starttls foo``).
* not TLS

[2022-09-05 01:38] doggodanubus commented on #606
https://ssl-config.mozilla.org/#server=apache&version=2.4.54&config=modern&openssl=1.1.1q&guideline=5.6
This is pretty ruthless in disabling old crap unlike my hellcare providers setups still using SSL. It disables every junk or obsolete cipher and protocol. The creator(s) do not seem to care if the client picks the cipher after this is done.

If the script could check that bad ciphers and protoco

[2022-09-05 06:39] bmarwell commented on #2221
[code]

[2022-09-05 12:52] drwetter commented on #2221
looks to me like no encryption.

I would try first ``nmap -sTV -p1-65535 --script=ssl\* HOST``.  Scanning all ports bc there maybe others which may be an alternative TLS-enabled port for iiops you're looking for.

If that returns some cipher at a port where iiops is running, we can use testssl.sh. If not: bad luck here.

[2022-09-05 13:17] bmarwell commented on #2221
No luck here, because I configured the iiops-Port myself. I tried some fiddling with netcat, but no luck here as well. I will ask IBM on how to debug iiops.

[2022-09-05 14:03] drwetter commented on #606
Thanks. Lets continue the discussion in #1311

[2022-09-05 16:43] drwetter commented on #2221
nc doesn't help you to determine whether it's TLS/SSL enabled.

[2022-09-07 09:08] cancom-oss opened #2232 "[BUG] Grade cap reasons not showing weak public keys"
**Before you open an issue please check which version you are running and whether it is the latest in stable / dev branch**
I am running version ( commit b3c49b584d843a28915af05e8f6ba4af6ed16be3  / testssl.sh       3.1dev from https://testssl.sh/dev/)

**Before you open an issue please whether this is a known problem by searching the issues**
I couldn't find anything

**Command line / docker comma

[2022-09-07 09:24] drwetter commented on #2232
@magnuslarsen : do you have a preference?

[2022-09-07 09:26] drwetter commented on #2232
(@cancom-oss : thanks)

[2022-09-07 10:33] Seenox commented on #1734
Hi Dirk (@drwetter) :wave:,
although we totally understand your point here, we would like to kindly request allowing a parameter for users (with understanding and used on purpose) to override the default behaviour.
Something like `--starttls-not-mandatory` which would allow the tests to check for all other possible problems/weaknesses and doesn't change overall grade to `F` only because of this, i

[2022-09-07 11:22] magnuslarsen commented on #2232
Good catch! Thanks for looping me in :-)

I agree, let's do this. But this _can_ still leaves us with an unsorted `sorted_reasons` (as we have to check the KEY_EXCH_SCORE regardless).

We can avoid sorting twice, by moving the sorting block into the each of the if statements, something like this:
[code]
I can take a look at it tomorrow, if you haven't made a PR yet :)

[2022-09-07 12:07] bmarwell commented on #2221
IBM said it should have worked using `openssl s_client -connect`. Will investigate and come back to you.

[2022-09-09 10:07] bmarwell commented on #2221
We had a faulty configuration. IIOPS can be scanned using testssl.sh with all the defaults.
Thanks!

[2022-09-09 10:07] #2221 closed, assigned to nobody

[2022-09-11 03:08] doggodanubus commented on #1311
I can't offer much help with this. As a user I'd just want to know that it's not a critical issue *if XYZ is done*. Now that I am aware of it I'll quiet down. The level of coding to dance around this makes my head hurt. I wish I could do that well but I'm very poor at it.

Thanks for your efforts and thanks for the response.

[2022-09-12 02:53] Seirdy commented on #1641
This feature is now called Encrypted Client Hello. I don't think it is available in OpenSSL but it should be available in BoringSSL. Cloudflare uses BoringSSL to enable ECH on their sites.

[2022-09-14 20:31] drwetter commented on #1734
That thread started a while ago and I vaguely remember all the details. I left off thinking there's basically no way on port 25 to tell whether it is secure against a STARTTLS stripping / MITM attack. Normally port 587 requires authentication, not sure whether all implementations are properly implemented or they are via default secure against a STARTTLS stripping / MITM attack?

So my first impres

[2022-09-17 01:06] edsilegxrepo opened #2241 "testssl is issuing a lot of warnings with grep 3.8"
Platform: Linux
Grep version 3.8
testssl 3.2rc1

Execution throws a lot of warnings of style below:
[code]

Which is resolved by involking ```grep -P```
Attached patch is what is working for me to suppress all those warnings.
[testssl_grep-compat.zip](https://github.com/drwetter/testssl.sh/files/9590663/testssl_grep-compat.zip)

[2022-09-17 14:27] drwetter commented on #2241
Thanks.

grep -P doesn't work on BSD or macOS.

What's your Linux distro?

[2022-09-17 18:44] ghen2 commented on #2241
It's caused by statements like:
`grep -q "\-\-\-\-\-BEGIN CERTIFICATE\-\-\-\-\-" $TEMPDIR/intermediatecerts.pem`

It's not actually needed to escape hyphens, you only need to avoid grep interpreting the expression as an argument by using `-e`:
`grep -q -e "-----BEGIN CERTIFICATE-----" $TEMPDIR/intermediatecerts.pem`

[2022-09-17 23:56] jleffler commented on #2241
An alternative to the double dash would be `-e`, indicating that the next
argument is (one of) the regular expression(s).  I’d only use the double
dash between the control options and the list of file names.

On Sat, Sep 17, 2022 at 12:44 Geert Hendrickx ***@***.***>
wrote:

--
Jonathan Leffler ***@***.***>  #include <disclaimer.h>
Guardian of DBD::Informix - v2018.1031 - http://dbi.perl.org
"Bles

[2022-09-18 07:53] ghen2 commented on #2241
You're right, and I corrected that in the meantime.

Escaping just the first dash appears to be acceptable too (it throws warnings for all but the first), but is undocumented, so for consistency I used -e throughout in https://github.com/drwetter/testssl.sh/pull/2242.

[2022-09-18 15:27] drwetter commented on #2241
I believe this is the easiest and works on GNU grep and BSD.

Mind a PR for both branches, 3.0 and 3.1dev?

[2022-09-18 15:38] #2241 closed, assigned to nobody

[2022-09-19 11:27] huornlmj opened #2245 "Flag certificate sizes less than 3072 as red or yellow."
**Which version are you referring to**
3.1dev

**Describe your feature request (if it's a technical feature)**
Flag certificate sizes less than 3072 as red.  Current standards are to use cert modulus of 3072 and above.  Modulus or cert size of 2048 should therefore be flagged as red or yellow.

[2022-09-19 12:36] drwetter commented on #2245
testssl.sh uses red for something which is proven to be broken. That is/was the case for RSA keys with roughly with ~830 bits (2019/2020" https://sympa.inria.fr/sympa/arc/cado-nfs/2019-12/msg00000.html). It is suspected that an attacker with enough resources maybe able to break 1024 bits, using lots of computing resources = time and money.

We can label or flag 2048 bits somehow (either by color o

[2022-09-19 12:36] drwetter commented on #2245
And maybe CAs. (https://imirhil.fr/tls/ca.html)

[2022-09-19 13:30] huornlmj commented on #2245
Thanks for your feadback @drwetter .  Perhaps I didn't formulate my thoughts correctly.  Rethinking it, what I think would be a good idea would be a template concept (if such a feature does not exist).  E.g., if I could point testssl.sh to a template which states what my specific requirements are for a pass state, then the testssl.sh could be dropped into a CI pipeline which is tailored for a spec

[2022-09-19 15:39] drwetter commented on #2245
see #1108 .

TL;DR: doesn't exist yet, that would be cool to have. Needs to be implemented (+ maintained) though.

[2022-09-19 15:41] drwetter commented on #2245
As for the 3072 bit and how we label/phrase it, I'd rather listen to @dcooper16

[2022-09-19 17:14] dcooper16 commented on #2245
I was also curious about the source of the claim that "Current standards are to use cert modulus of 3072 and above."

I looked at the CA/Browser Forum baseline requirements (https://cabforum.org/wp-content/uploads/CA-Browser-Forum-BR-1.8.4.pdf), and it just specifies that the RSA modulus needs to be at least 2048 bits.

I also tried testing a few servers, including github.com, with testssl.sh, and

[2022-09-20 20:06] nikaro commented on #2085
@drwetter not sure, but it looks like you just need to add `linux/arm64/v8` in here : https://github.com/drwetter/testssl.sh/blob/3.1dev/.github/workflows/docker-3.1dev.yml#L56

[2022-09-21 07:36] drwetter commented on #2085
I could need a hand here.

If there's a way w/o hard-wiring access tokens here

[2022-09-26 16:44] Lozik opened #2246 "[Feature request] Differentiate between public and private PKI for 398days check"
**Which version are you referring to**
3.1dev

**Describe your feature request (if it's a technical feature)**
In #1710 , a check has been included that verifies the certificate lifetime: if the certificate has been issued after a certain date and has been created with a lifetime of more than 398 days, the check fails. This is a good check, however it misses one important detail: As far as I can t

[2022-09-27 08:37] xaetacorenet commented on #2241
Good afternoon,
I use this tool daily for work but i couldn't really find a answer as to if this is being fixed in the next release in this ticket.
Is this something that has to be fixed on the client side or will this be fixed in the software?

[2022-09-27 09:40] ghen2 commented on #2241
@drwetter I think it's best to tag a 3.0.8 release soon, as more and more Linux distro's will update grep and get this issue?

[2022-09-27 10:21] drwetter commented on #2241
Agreed. By the end of the week. See #2231

[2022-09-27 10:43] drwetter commented on #2246
Hi @Lozik ,

thanks for the input.

Technically that would be doable. However: why do you think an internal CA should issue longer living certificates than their internet counterparts?

I understood the content of the links however I assume that people would dump their browsers of their vendors issue a warning or don't want to connect anymore. This is why they are doing it, I believe.

The point o

[2022-09-27 11:38] Lozik commented on #2246
Hi Dirk,

I fully understand the security aspect of this and I agree that a quicker rotation is in most cases a major improvement in security. On the other hand there is the current practice of companies that do not rotate internal certificates as often. Again, security-wise a bad practice, but in the tradeoff between security and usability/maintainability, it‘s often the taken course of larger co

[2022-09-28 06:45] drwetter commented on #2246
Not sure I am following you as there's a shy warning only

![image](https://user-images.githubusercontent.com/8036727/192706847-a6673158-746c-4813-99e7-07ac5e0a7825.png)

That is independent on the CA origin. If I read your points not completely wrong should suffice for internal CAs (we maybe should consider s stronger warning on public CAs)

[2022-09-28 13:31] HillGnur commented on #1083
Tried this, not working, also tried with bind9-utils on Debian WSL, same thing.

[2022-09-29 11:23] drwetter commented on #2179
was addressed in both branches, see committs

[2022-09-29 11:23] #2179 closed, assigned to drwetter

[2022-09-30 17:03] rein123 opened #2249 "Signature Algorithm: also handle "sha1WithRSA" synonym for "sha1WithRSAEncryption""
For some of our target systems we get "sha1WithRSA" back which cannot be parsed by testssl.sh currently.
It is just a synonym for "sha1WithRSAEncryption".

Our temporary quickfix:
[code]

thx!

[2022-09-30 17:53] drwetter commented on #2249
Thx!

Can you divulge what kind of certificate that is, maybe how it was generated
(openssl/others?)

[2022-10-04 07:31] drwetter commented on #1083
you need to find the package for Debian and use the right front end to your DB packet mgmt system.

[2022-10-06 14:51] Lozik commented on #2246
Sure, that would be an idea. Sorry, I did not really check all the edge cases and the implications of that check in the main validity.
I think it might be worth keeping a warning (as in your screenshot above) for the insecure lifetimes (i.e. more than 1 year), but adding a clear "invalid" message if that's a cert signed by a publicly trusted CA.

For people that have included Testssl.sh in some sc

[2022-10-07 14:48] #2232 closed, assigned to nobody

[2022-10-08 11:28] drwetter commented on #2246
Public trusted CAs won't issue certificates with a longer validity period. If they do, it could be that browser vendors remove their CA (https://cabforum.org/wp-content/uploads/CA-Browser-Forum-BR-1.8.4.pdf) :
 _The CP for the Issuance and Management of Publicly‐Trusted Certificates describe a
subset of the requirements that a Certification Authority must meet in order to issue
Publicly Trusted Ce

[2022-10-08 11:29] #2246 closed, assigned to nobody

[2022-10-11 08:14] drwetter commented on #2204
Hi Matteo,

would you mind telling me which version you used?

Thx, Dirk

[2022-10-15 09:20] matteocorti commented on #2204
Sorry I don't have it anymore ...

[2022-10-15 09:20] matteocorti commented on #2204
Sorry I don't have it anymore ...

[2022-10-18 17:20] davidahoward opened #2254 "DTLS Support [Feature request]"
**Which version are you referring to**
3.1dev

**Please check this repo whether this is a known feature request**
If in doubt check the git log and/or check whether you run the latest version from the git repo. Maybe this was solved already?

**Describe your feature request (if it's a technical feature)**

This tool would be very useful for IOT / M2M data connections/servers that are secured using

[2022-10-19 11:27] digininja opened #2255 "Error parsing a server hello"
The site requires a client certificate to access it. Trying in Chrome gives:

[code]

In testssl.sh I get this:

[code]

I know nothing about the headers, but I assume one is missing or blank due to the certificate auth and you assume it will never be.

Happy to send you the target IP privately if you want it.

**Before you open an issue please check which version you are running and whether it is

[2022-10-19 11:28] digininja opened #2256 "Typo in bug template"
You've got `yoour` not `your` in the bug issue template:

[code]

[2022-10-19 12:05] drwetter commented on #2255
Hi @digininja ,

that is likely fixed in the current version. What you're using is pretty old. ;-) Please use either 3.0.8 or 3.2rc2.

Thus I am closing this. Please report back if the problem persists with a newer version.

Cheers, Dirk

[2022-10-19 12:05] #2255 closed, assigned to nobody

[2022-10-19 12:10] drwetter commented on #2256
Thanks, fixed

[2022-10-19 12:10] #2256 closed, assigned to nobody

[2022-10-19 12:15] drwetter commented on #2255
PS: works for me on secure.cacert.org . Feel free to send me the IP if an upgrade still doesn't help.

[2022-10-19 12:18] digininja commented on #2255
Odd as I did a git pull before running it so assumed I was on the latest
version. I'll try to work out why I'm not when I get home.

On Wed, 19 Oct 2022, 13:06 Dirk Wetter, ***@***.***> wrote:

[2022-10-19 13:27] digininja commented on #2255
Got it, I did a pull and got some changes, but I didn't notice I was on the old branch.

It is working on the 3.1dev branch.

[2022-10-19 13:43] drwetter commented on #2255
good. That was backported, too to 3.0.x.

[2022-10-20 14:09] drwetter commented on #327
The handling of trivy seems an easy thing to apply to testssl.sh:

```trivy <whatever> --exit-code 1 --severity <SEVERITY> <SCANTARGET>```

Surprisingly testssl.sh has the very same severity switch already. :-) It just needs the --exit-code switch and a way to track whether there was a severity of level X or greater (trivy lists same=equal, not greater-equal as). That doesn't seem complicated.

If

[2022-10-21 13:41] #1311 closed

[2022-10-22 13:48] drwetter commented on #2254
Thanks, good point.

Not sure whether the protocols mentioned are DTLS based but , yeah. DTLS could be useful for some circumstances. Can't tell when this going to happen.

[2022-10-25 08:27] drwetter opened #2259 "[Feature request] Consider trivy for scanning"
**Which version are you referring to**
3.1dev? (maybe 3.0.x)

**Please check this repo whether this is a known feature request**
nope

**Describe your feature request (if it's a technical feature)**
Consider scanning the repo or image with [trivy as a github action ](https://github.com/aquasecurity/trivy-action) . Benefits: alarm on known vulnerabilities, especially wrt Alpine. Trivy scans per def

[2022-10-25 16:22] cubistico opened #2260 "[possible BUG] TLSv1.0/1.1 connection reported although not available"
Using the docker drwetter/testssl.sh version 3.2rc2 from https://testssl.sh/dev/

Command line used:

    docker run --rm -ti drwetter/testssl.sh example.com

**Expected behavior**
The server is configured to support only TLSv1.2, so I'd expect testssl.sh to report the same.

**Your system (please complete the following information):**
 - OS: Ubuntu 20.04.4 LTS
 - Platform: Linux 5.4.0-84-generic

[2022-10-25 17:50] drwetter commented on #2260
Those functions are pretty solid.

Looking at it, it seems a case of "works for me" but can't tell at a first glance why.

[code]
[code]

[code]

(Same IP fro Europe and North America)

I cannot access 192.168.205.11 from here.

Sure your openssl is configured to allow TLS < 1.2 like ``CipherString = DEFAULT@SECLEVEL=0`` in ``/etc/ssl/openssl.conf``?

[2022-10-25 18:04] dcooper16 commented on #2260
I also believe the results from testssl.sh are correct. Looking at the documentation for curl, it describes the `--tls1.1` option as follows:

So, `curl -Iiv --tlsv1.1 --tls-max 1.1 https://example.com` just results in a TLS 1.3 connection.

I don't know what you mean when you say "the connection works – obviouly because the server negotiates an upgrade." If the client sends a TLS 1.1 ClientHello,

[2022-10-25 18:47] cubistico commented on #2260
Apologies for the confusion caused by my use of the domain example.com. Since I was testing against a server in my LAN, I used that domain in this report just as an example domain. I did not really test against that domain.

That's not quite right. The above description refers to option --tlsv1.1 _only_. However, that's why I was _also_ using the --tls-max 1.1 option (which you quote but did not u

[2022-10-25 19:05] jauderho commented on #2259
I already do this on my image of testssl.sh. You can use this workflow as a starting point: https://github.com/jauderho/dockerfiles/blob/main/.github/workflows/scan.yml

[2022-10-26 00:14] cubistico commented on #2260
I'm sorry, I just realized what you were referring to with this! I tested it, and you are right. openssl s_client can connect.

So my report seems invalid.

[2022-10-26 00:14] #2260 closed, assigned to nobody

[2022-11-10 08:22] #2249 closed, assigned to nobody

[2022-11-10 16:08] drwetter opened #2270 "[BUG ] Fix codespell action to not scan ~/.git directory"
... see https://github.com/drwetter/testssl.sh/pull/2269#issuecomment-1310487136
and error here: https://github.com/drwetter/testssl.sh/actions/runs/3437527821/jobs/5732402313.

![image](https://user-images.githubusercontent.com/8036727/201712609-43abafad-285f-41f5-8ee3-1ed511c27c5b.png)

Doesn't affect 3.1dev.

It maybe fixed by the project (see pending PR there)

[2022-11-10 16:34] dcooper16 commented on #1747
Hi Dirk,

I tried to create a PR to address this issue, but ran into a problem as a result of #2050. I can't figure out a way to include '\n' in a string that won't get removed by #2050.

I can see two possible solutions. The first would be to move the change in #2050 to `fatal()`, and then ensure that `fileout()` is never called with a string  that includes '\n' that would be converted to a newli

[2022-11-10 18:35] mtbike61384 opened #2271 "[BUG / possible BUG] Script freezes/hangs on the DROWN check"
**Before you open an issue please check which version you are running and whether it is the latest in stable / dev branch**
I am running version 3.2rc2

**Before you open an issue please whether this is a known problem by searching the issues**
I couldn't find anything specifically related to my issue

**Command line / docker command to reproduce**
Which was your command line?
./testssl.sh -p -U h

[2022-11-10 19:23] dcooper16 commented on #2271
Hi @mtbike61384,

Thanks for reporting. I was able to reproduce the issue. It seems that the following command hangs in the call from `run_drown()` to `get_host_cert()`:
[code]
According to Wireshark, OpenSSL 1.0.2-bad sends an SSLv2 ClientHello when given this command. The connection will work as expected if the `-no_ssl2` option is added or if a version of OpenSSL that does not support SSLv2 is

[2022-11-10 19:39] mtbike61384 commented on #2271
Thanks for the quick response! As a workaround I found I could use --openssl-timeout but appreciate the fix.

[2022-11-11 15:27] #2271 closed, assigned to nobody

[2022-11-11 15:29] drwetter commented on #2271
Thanks also to @mtbike61384

[2022-11-15 17:23] tenjaa commented on #2085
The GHCR image already offers an ARM build.
Why not link it in the readme instead of the dockerhub one?

[2022-11-18 10:06] #1747 closed, assigned to nobody

[2022-11-18 19:11] huornlmj opened #2277 "--html flag not generating HTML reports when run in Docker"
**Before you open an issue please check which version you are running and whether it is the latest in stable / dev branch**
I am running version "drwetter/testssl.sh:latest" from Docker hub

**Before you open an issue please whether this is a known problem by searching the issues**
Couldn't find anything

**Command line / docker command to reproduce**
[code]

**Expected behavior**
Not sure.  I sup

[2022-11-19 12:09] drwetter commented on #2277
https://github.com/drwetter/testssl.sh/blob/3.1dev/Dockerfile.md

[2022-11-19 12:09] #2277 closed, assigned to nobody

[2022-11-22 18:19] eins78 commented on #2085
@drwetter I can confirm that the GHCR version works on ARM, although it offers less/different tags than on Dockerhub)
I ran it like this: `docker run --rm -it ghcr.io/drwetter/testssl.sh`

If you still want to publish to Dockerhub from GH Actions, here are the official docs on how to configure the authentication in a secure way using "secrets": https://docs.github.com/en/actions/publishing-package

[2022-11-22 18:45] drwetter commented on #2085
Thanks @tenjaa and @eins78 .

I lack currently a bit of time, but I had a quick look at the encrypted secrets page. From the security architecture perspective I am still wondering why one should handover + store passwords which is under other circumstances a "no, don't ever do that". Encrypting the password with another secret  -- if understood that correctly -- doesn't make it better as I trust g

[2022-11-22 18:51] eins78 commented on #2085
@drwetter This part might be a bit misleading in their docs, I don't assume you'll enter your "personal" username + password into the GitHub secrets (which indeed would be "icky"), but rather an access-token for this purpose, which can be revoked in case there is a problem at Github or you just want to stop using them for whatever reason. You can do that in dockerhub here: https://hub.docker.com/s

[2022-11-23 10:11] #1519 closed, assigned to nobody

[2022-11-25 13:43] drwetter commented on #2085
@eins78 : That token seem to want read / write / delete access to docker hub.

Currently it works that as soon as there is a push to one of the branches here (github), dockerhub just automatically builds the image. No credentials/token or whatsoever involved.

I do not get why this image is amd64 only and whether this repo can do something to provide instructions for dockerhub to build other archs

[2022-11-25 13:47] drwetter commented on #2085
Maybe somebody can add a section ``### From GitHub Container Registry``  to Dockerhub.md accordingly?

That would be much appreciated!

[2022-11-25 14:38] drwetter opened #2280 "[Feature request] Detect PQ Cipher X25519Kyber512Draft00 and X25519Kyber768Draft00"
**Which version are you referring to**
3.2rcx .

**Please check this repo whether this is a known feature request**
no

**Describe your feature request (if it's a technical feature)**
Cloudflare has published a blog post at https://blog.cloudflare.com/post-quantum-for-all/  about one of their servers (https://pq.cloudflareresearch.com/)   supporting the post quantum ciphers X25519Kyber512Draft00 /

[2022-11-25 15:42] dcooper16 commented on #2280
Hi Dirk,

I saw this too and was thinking about trying to add support for it. I just tried using the `--devel` option and had some success, but I had to make a change to the code. The issue is that ""fe,30" and "fe,31" are not cipher suites, they are for identifiers in the supported_groups extension. Unfortunately, with the `--devel` option, the TLS version and list of cipher suites can be specifi

[2022-11-25 17:34] drwetter commented on #2280
Ah, ok, thanks for the heads up!

I had a quick look here: https://pq.cloudflareresearch.com/ and I found not so much yet, besides references like this: https://github.com/cloudflare/boringssl-pq/search?q=KYBER768_generate_key .

[2022-11-25 19:58] dcooper16 commented on #2280
I was able to compile the reference implementation for Kyber from https://github.com/pq-crystals/kyber and used it to generate public keys for Kyber512 and Kyber768. I added public keys for 0xFE30 and 0xFE31 to etc/tls_data.txt in the https://github.com/dcooper16/testssl.sh/tree/TLS_ECDHE_HSS_WITH_AES_256_GCM_SHA384 branch. Using that version of etc/tls_data.txt and modifying line 23742 of testssl

[2022-11-25 21:06] drwetter commented on #2280
very cool!

[2022-11-25 21:10] dcooper16 commented on #2280
The `run_fs()` function in https://github.com/dcooper16/testssl.sh/tree/TLS_ECDHE_HSS_WITH_AES_256_GCM_SHA384 will now detect if a server supports X25519+Kyber512 and/or X25519+Kyber768 (as long as the server also supports at least one "standard" ECDH or FFDH group). Other than the check for "Elliptic curves offered," everything else in https://github.com/dcooper16/testssl.sh/tree/TLS_ECDHE_HSS_WI

[2022-11-26 09:06] ju916 commented on #2280
That’s super cool !
Thank‘s a lot for your continued efforts.

[2022-11-27 18:37] drwetter commented on #2280
For "others convenience" this is a diff (wrong order of files) of the output:

<img width="972" alt="image" src="https://user-images.githubusercontent.com/8036727/204153416-58469480-7f0f-4ff2-968e-7da4235f7065.png">

[2022-11-28 13:15] drwetter opened #2284 "Documentation update for ghcr.io + docker images"
**Which version are you referring to**
Both 3.0.x and 3.1dev

See #2085 .

There's a Dockerfile.md which describes how to pull images from docker hub. As github generates images as well and they support more architectures, it should be documented as well e.g. in a paragraph ``### From GitHub Container Registry``

[2022-11-28 23:09] dcooper16 commented on #2280
I haven't had a chance to look into this in detail, but I found another source for information on experimenting with post-quantum cryptography in TLS:

https://www.wolfssl.com/documentation/manuals/wolfssl/appendix07.html
https://test.openquantumsafe.org/
https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/oqs-template/oqs-kem-info.md
https://github.com/open-quantum-safe/ope